@page "/"

@using Syncfusion.Blazor.DropDowns

@*<SfButton Content="Change" OnClick="Change"></SfButton>*@
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<Popup>
	<div>
		<p class="mb-4">This is a popup</p>
		<div class="row">
			<div class="col">
				<SfDropDownList TValue="string" TItem="string" DataSource="@(new string[]{"One", "Two", "Three"})" CssClass="mb-2">
					@*<DropDownListFieldSettings Text="Name" Value="Value" />*@
					@*<DropDownListEvents TItem="SelectionListing<float>" TValue="float" ValueChange="@StateHasChanged" />*@
				</SfDropDownList>
			</div>
		</div>
	</div>
</Popup>
@code{

}
